.favory{
    background-image: url("../img/fav.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1rem;

}

.favory__subtitle, .favory__title{
    font-weight: 800;
    color: white;
    text-align: center;
}

.favory__subtitle{
    padding-top: 5rem;
    margin-bottom: 0.5em;
}
.favory__title{
    font-size: 40px;
    margin-bottom: 2.5rem;
}
.favory__bloc-btn{
    padding: 0 3.5rem;
    text-align: center;
    padding-bottom: 3.5rem;
    margin-left: 1.5rem;
}


.fav-btn{
    padding: .5rem 1rem ;
    background-color:  #D1111C;
    border-radius: 8px;
    font-weight: 700;
    border: none;
    color: white;
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
}

.fav-btn:hover{
    background-color:  #680b10;
}

@media (max-width: 768px) {
    .favory{
        padding: 0;
        width: auto !important;
        margin-left: 1rem !important;
        margin-right: 1rem !important;
    }
    .favory__subtitle{
        padding-top: 2.5rem;
        margin-bottom: 0.5em;
    }
    .favory__title{
        font-size: 40px;
        margin-bottom: 1.5rem;
    }
    .favory__bloc-btn{
        padding: 0;
        margin-bottom: 1rem;
    }
}